.mySlides {
  text-align: center;
}

.circular-border {
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.circular-border img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Styling for gallery items */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 30%;
  height: auto;
}